.logoArea{
    display: flex;
}

.header{
    display: flex;
    position:sticky;
    top:0;
    height:64px;
    padding:12px 30px;
    border-bottom: 1px solid #c0c0c0;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    cursor: pointer;
    color: rgb(255,0,0);
}

.searchInput{
    width:50vw;
    height: 40px;
    padding-left: 10px;
    border:1px solid #dfdfdf;
    font-size: 14px;
    outline: none;
    border-radius: 20px;
    margin: 0 0.2rem;
}

.searchInputArea{
    display: flex;
    align-items: center;
}

.searchBtn{
    background-color:#f3f3f3;
    border-bottom:1px solid #dfdfdf;
    border-right:1px solid #dfdfdf;
    border-top:1px solid #dfdfdf;
    width:60px;height: 40px;
    cursor: pointer;
    border-radius: 20px;
}

.topMenuArea .topIcon{
    
    color:#ccc;
    cursor: pointer;
    margin: 0 0.3rem;
}

.topMenuArea .topIcon:hover{
    color:rgb(255, 0, 0);
}