.videoItem{
    width: 20%;
    width: calc(20% - 8px);
    padding: 0.4em;
    /* border:1px solid #ddd; */
    margin: 0.3rem;
}

.videoItem.list-v{
    flex:1 1 20%
}

.videoItem.list-h{
    flex:1 1 50%;
}

.videoItem.list-h .Item{
    display: flex;
    align-items: center;
}

.videoItem.list-h .thumnail{
    width: 30%;
    flex:1 1 30%;
}

.thumnail img{
    width: 100%;
}

.thumnail img{
    width: 100%;
}

.metaData{
    display: flex;
    text-align:left;
    padding: 0.5em;
    flex:1 1 70%;
}

.metaData .channelImg{
    flex:0 0 36px;
    width:36px;
    height:36px;
    border-radius: 50%;
    overflow: hidden;
}

.channelImg {
    margin-right: 0.75rem;
}

.title, .channel {
    font-size: 0.925rem;
}

.title{
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    font-size: 0.8rem;
}

.channel {
    font-size: 0.7rem;
    color:#c0c0c0;
  }