*{margin: 0; padding: 0;}

ul,li{list-style: none;}

body{
  color: #666;
  background:url(../public/asset/img/bg.png)
}

.App{
  width: 800px;
  height: auto;
  margin: 50px auto;
  border : 2px solid rgb(172, 216, 255) ; 
  background: url(../public/asset/img/note-bg.png) repeat-y #fff8d4;
  box-shadow: 2px 2px 15px rgba(0, 0,0,0.5);
}