*{
  margin:0;padding: 0;
  box-sizing: border-box;
}

ul,li{
  list-style: none;
}

a{
  text-decoration: none;
  color:inherit;
}

body{
  padding-top: 64px
}

.contents-wrap{
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin-left: 0.3rem;
}

.contents-wrap .sidebar-box {
  flex: 0 0 70px;
}

.sidebar button {
  width: 5rem;
  height: 1.6rem;
  background: none;
  border-radius: 8px;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #cccccc;
  transition: all .5s;
}