
.TodoAddBtnBox{
    padding : 10px 0;
    text-align: center;
}

.TodoAddBtn{
    width: 70px;
    height: 40px;
    border: 3px solid rgb(172, 216, 255) ;
    background-color: #acd8ff4d;
    border-radius: 4px;
    color: rgb(6, 34, 59);
    cursor: pointer;
}


